$bg-dark: #36322C;
$bg-light: #EFEBE7;
$bg-medium: #968F86;
$green-light: #C0CE02;

.section-wrap {
  max-width: 700px;
  margin: 0 auto;
}
.calc-item {
  text-align: center;
  padding: 3em 1em;
  position: relative;
  &:after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 12px 0;
    content: '';
    position: absolute;
    left: 0;
    bottom: -12px;
    right: 0;
    z-index: 9;
    text-align: center;
    margin: 0 auto;
  }
  &:last-of-type {
    &:after {
      display: none;
    }
  }
  &.bg-white {
    background-color: white;
    &:after {
      border-color: white transparent transparent;
    }
    .button-wrap {
      a {
        color: $body-font-color;
        border-color: $bg-medium;
      }
    }
  }
  &.bg-dark {
    background-color: $bg-dark;
    color: white;
    &:after {
      border-color: $bg-dark transparent transparent;
    }
    .button-wrap {
      a {
        color: white;
        border-color: $bg-medium;
      }
    }
  }
  &.bg-medium {
    background-color: $bg-light;
    &:after {
      border-color: $bg-light transparent transparent;
    }
    .button-wrap {
      a {
        color: $body-font-color;
        border-color: $bg-medium;
      }
    }
  }
  .hidden {
    display: none;
    visibility: hidden;
  }
  h2 {
    font-size: rem-calc(18);
    font-weight: 700;
  }

}
.calc-item {
  input {
    background: #FFFFFF;
    border: 1px solid #CDC8C2;
  }
}
.calc-info-wrapper {
  margin: 1em 0 2em 0;
}
.calc-total, .delivery-total {
  .text {
    display: block;
    font-weight: 300;
  }
  font-weight: 800;
  margin: 2em 0;
}
.calc-zip {
  padding: 6em 1em;
  .input-wrapper {
    width: 50%;
    margin: 0 auto;
    input[type="text"] {
      box-shadow: inset 2px 2px 5px 0 rgba(0,0,0,0.10);
    }
  }
}
/*
  Buttons
*/
.button-wrap {
  a {
    display: inline-block;
  }
}
.button-radius {
  a {
    border-radius: 50px;
    border: 1px solid;
    padding: .8em 1.8em;
    font-size: rem-calc(13);
  }
}
.button-add-products {
  a {
    color: white;
    text-transform: uppercase;
    span {
      font-size: rem-calc(10);
      margin-right: 10px;
    }
  }
}
.button-info {
  a {
    font-weight: 500;
    font-size: rem-calc(15);
  }
}
.button-buy {
  background-color: $primary-color;
  font-size: rem-calc(18);
  position: relative;
  &:after {
    font-family: 'icomoon';
    content: "\e900";
    position: absolute;
    right: 2em;
    top: 50%;
    transform: translateY(-50%);
  }
  .buy {
    border: none;
    padding: 1em 2em;
    color: white;
    background-color: $primary-color;
  }
}
/*
  Inputs
*/
input[type="text"] {
  padding: 9px;
}
.calc-product {
  margin: 1em 0;
  padding: 0;
  background-color: white;
  color: $body-font-color;
  header {
    background-color: $bg-light;
    text-align: left;
    position: relative;
    padding: .5em 1em;
    margin-bottom: 1em;
    h3 {
      font-weight: 600;
      margin: 0;
      font-size: rem-calc(19);
    }
    a {
      color: $body-font-color;
      font-size: rem-calc(14);
    }
    .remove {
      position: absolute;
      right: 1em;
      font-size: rem-calc(10);
      top: rem-calc(20);
      transform: translateY(-50%);
    }
  }
  .totals {
    color: white;
    background-color: $bg-medium;
    display: flex;
    align-items: center;
    margin-top: 1em;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    .amount {
      width: 33%;
      font-weight: 700;
      border-right: 1px solid rgba(black, .15);
      text-align: center;
      padding: .5em;
    }
    .reset {
      font-size: rem-calc(12);
      width: 67%;
      padding-right: 1em;
      color: $bg-light;
      display: flex;
      justify-content: flex-end;
      align-content: center;
      span {
        font-size: rem-calc(16);
        color: white;
        margin-right: 10px;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}
.delivery-options {
  display: flex;
  margin: 0;
  padding: 0;
  li {
    width: 33.333%;
    font-weight: 700;
    list-style-type: none;
    text-align: center;
    input {
      display: none;
    }
  }
}
.schedule-options {
  margin: 0 auto;
  padding: 0;
  width: auto;
  text-align: left;
  display: inline-block;
  li {
    list-style-type: none;
    margin: .5em 0;
    input {
      appearance: none;
      border-radius: 50%;
      width: 19px;
      height: 19px;
      border: 1px solid $bg-medium;
      transition: 0.2s all linear;
      outline: none;
      margin-right: 5px;
      position: relative;
      top: 4px;
      box-shadow: inset 2px 2px 5px 0 rgba(0,0,0,0.10);
      &:checked {
        border-color: $green-light;
        box-shadow: none;
        font-weight: 500;
        &:after {
          content: '';
          background-color: $body-font-color;
          width: 7px;
          height: 7px;
          display: block;
          border-radius: 50%;
          position: absolute;
          left: 5px;
          top: 5px;
        }
      }
    }
  }
}
.button-inline {
  [type="button"] {
    color: white;
    background-color: $primary-color;
    padding: 10px 20px;
    width: 40%;
    text-align: center;
    border-radius: 0 1px 1px 0;
  }
  [type="text"] {
    width: 60%;
    border-right: none;
    border-radius: 1px 0 0 1px;
    padding: 9px;
  }
}
.label-top {
  label {
    font-size: rem-calc(12);
  }
}
.volume-inputs {
  display: flex;
  align-content: center;
  justify-content: space-around;
  .input-wrapper {
    width: 25%;
    position: relative;
    label {
      text-align: left;
      display: block;
    }
    input {
      width: 100%;
      border-radius: 2px;
      &#areal {
        padding-right: 23px;
      }
    }
    .help {
      font-size: rem-calc(12);
    }
    .def {
      position: absolute;
      color: #A3A3A3;
      top: 29px;
      right: 5px;
      font-size: 12px;
      display: block;
      text-align: right;
    }
  }
}
.input-areal {
  &:after {
    content: 'x';
    position: absolute;
    top: 45%;
    transform: translateY(-45%);
    right: -18%;
    font-weight: 700;
  }
}
/*
  Extra-info sliding in or modal (desktop)
*/
#body-wrap {
  &.overlay {
    transition: all .6s ease-in-out;
    &:before {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: rgba(black, .5);
      z-index: 12;
    }
  }
}
.hidden-flex {
  visibility: hidden;
}
.panel {
  background-color: white;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  right: -100%;
  transition: right .4s ease-in-out;
  z-index: 13;
  &.expanded {
    right: 0;
  }
  @include breakpoint(large) {
    opacity: 0;
    z-index: -1;
    right: 0;
    left: 0;
    margin: 0 auto;
    transition: all .2s ease-in-out;
    height: auto;
    width: auto;
    max-width: 800px;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    &.expanded {
      opacity: 1;
      z-index: 12;
    }
  }
  .panel-content {
    padding: 2em;
  }
  header {
    color: white;
    background-color: $bg-dark;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .75em 1.5em;
    h3 {
      font-size: rem-calc(16);
      font-weight: 500;
    }
    .back-button {
      color: white;
      transform: rotate(180deg);
      margin-right: auto;
    }
    .hidden-flex {
      margin-left: auto;
    }
  }
}
#extra-info {
  max-height: 0;
  opacity: 0;
  transition: all .3s ease-in-out;
  position: relative;
  z-index: -1;
  &.expanded {
    margin-top: 1em;
    max-height: 500px;
    opacity: 1;
    z-index: 11;
  }
  a {
    color: $primary-color;
    font-weight: 600;
  }
}
.summary {
  background-color: $bg-light;
  color: $body-font-color;
  width: 100%;
  padding: 13px;
  margin-bottom: 2em;
  td {
    padding: 12px;
    text-align: right;
    &.table-product-name, &.table-delivery {
      text-align: left;
    }
  }
  tr.hr {
    td {
      padding: 0  12px;
    }
    hr {
      border-bottom: 1px solid $bg-medium;
      margin: 0;
    }
  }
  .table-total {
    font-weight: 700;
    td:first-of-type {
      text-align: left;
    }
  }
}