.masthead {
  display: flex;
  align-items: center;
  .logo {
    padding: 2em;
    img {
      max-width: 165px;
    }
  }
}
.menu-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
a.menu-link {
  float: right;
  display: block;
  padding: 1em;
  @include breakpoint(medium) {
    display: none;
  }
}
.mainmenu {
  clear: both;
  transition: all 0.3s ease-out;
  text-transform: uppercase;
  .js & {
    overflow: hidden;
    max-height: 0;
    position: absolute;
    left: 0;
    top: 8em;
    width: 100%;
    @include breakpoint(medium) {
      position: relative;
      width: auto;
      max-height: none;
    }
  }
  &.active {
    max-height: 100vh;
    background-color: white;
    z-index: 10;
  }
  ul {
    margin: 0;
    padding: 0;
    border-top: 1px solid #808080;
    @include breakpoint(medium) {
      margin: 0 0 0 -0.25em;
      border: 0;
    }
    li {
      @include breakpoint(medium) {
        display: inline-block;
        margin: 0 0.25em;
      }
      a {
        display: block;
        padding: 0.8em;
        border-bottom: 1px solid #808080;
        color: #333;
        @include breakpoint(medium) {
          border: 0;
          &:hover {
            color: black;
          }
        }
      }
    }
  }
}
.social-links { // green icons
  display: flex;
  .sqs-svg-icon--wrapper {
    position: relative;
    width: 34px;
    height: 34px;
    display: block;
    margin-left: 20px;
    div, svg {
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      fill: $primary-color;
    }
  }
}
.sqs-use--icon {
  fill: transparent;
}